<!DOCTYPE html>
<html lang="he" dir="rtl">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" type="text/css" href="{{url_for('static',filename='css/style.css')}}">

</head>
<script>
    document.body.style.cursor = 'default';
</script>
<body>

{% if msg is defined %}
<h2>תודה רבה על ההשתתפותך בניסוי</h2>
{% else %}

<form method="POST" action="/sheelon3?key={{key}}">

    <p class="question">באיזה מכשיר ביצעת את המבחן?</p>
    <input id="q1.1" type="radio" value="desktop" name="quest1">
    <label for="q1.1">desktop</label><br>
    <input id="q1.2" type="radio" value="laptop" name="quest1" required>
    <label for="q1.2">laptop</label><br>
    <input id="q1.3" type="radio" value="smartphone" name="quest1" required>
    <label for="q1.3">smartphone</label><br>
    <input id="q1.4" type="radio" value="tablet" name="quest1" required>
    <label for="q1.4">tablet</label><br>
    <input id="q1.5" type="radio" value="other" name="quest1" required>
    <label for="q1.5">other</label><br>
    <br>

    <label for="quest2">מה הגיל שלך?</label>
    <br>
    <input type="number" id="quest2" name="quest2" min="1" max="120" required><br>
    <br>

    <p class="question">לאיזה מגדר את/ה משתייכ/ת?</p>
    <input id="q3.1" type="radio" value="זכר" name="quest3">
    <label for="q3.1">זכר</label><br>
    <input id="q3.2" type="radio" value="נקבה" name="quest3" required>
    <label for="q3.2">נקבה</label><br>
    <input id="q3.3" type="radio" value="לא רוצה להגיד" name="quest3" required>
    <label for="q3.3">אחר</label><br>
    <br>


    <label for="quest5">כמה שעות ביום ממוצע אתה משתמש במחשב (שלא לצורך עבודה)?</label>
    <br>
    <input type="number" id="quest5" name="quest5" min="0" max="24" required><br>
    <br>

    <label for="quest6">כמה שעות ביום ממוצע אתה משתמש בטלפון נייד (שלא לצורך עבודה)?</label>
    <br>
    <input type="number" id="quest6" name="quest5" min="0" max="24" required><br>
    <br>

    <label for="quest7">האם אתה בחלל / מרחב סגור או פתוח על סולם של 1 עד 7, דרג את הסביבה שבה אתה נמצא (כאשר 1 מייצג
        "חלל סגור" ו-7 מייצג "מרחב פתוח")</label>
    <br>
    <input type="number" id="quest7" name="quest7" min="1" max="7" required><br>
    <br>

    <label for="quest8">האם אתה בחלל / מרחב פרטי או ציבורי? על סולם של 1 עד 7, דרג את הסביבה שבה אתה נמצא (כאשר 1 מייצג "חלל פרטי" ו-7 מייצג "מרחב ציבורי") </label>
    <br>
    <input type="number" id="quest8" name="quest8" min="1" max="7" required><br>
    <br>

    <label for="quest9">האם אתה בחלל / מרחב גדול או קטן? על סולם מ-1 עד 7, דרג את גודל הסביבה שבה אתה נמצא (כאשר 1 מייצג "קטן ביותר" ו-7 מייצג "גדול ביותר"). </label>
    <br>
    <input type="number" id="quest9" name="quest9" min="1" max="7" required><br>
    <br>

    <label for="quest10">על סולם מ-1 עד 7, דרג את מידת הרעש שסביבך (כאשר 1 מייצג "לא רועש בכלל" ו-7 מייצג "רועש ביותר"). </label>
    <br>
    <input type="number" id="quest10" name="quest10" min="1" max="7" required><br>
    <br>

    <label for="quest11">על סולם מ-1 עד 7, דרג את מידת החושך שסביבך (כאשר 1 מייצג "לא חשוך בכלל" ו-7 מייצג "חשוך ביותר").</label>
    <br>
    <input type="number" id="quest11" name="quest11" min="1" max="7" required><br>
    <br>

    <label for="quest12">על סולם מ-1 עד 7, דרג את מידת צפיפות האנשים שסביבך (כאשר 1 מייצג "לא צפוף בכלל" ו-7 מייצג "צפוף ביותר").</label>
    <br>
    <input type="number" id="quest12" name="quest12" min="1" max="7" required><br>
    <br>
    <br>
    <div style="text-align:center">
    <input  type="submit" value="שלח" onsubmit="alert('תודה על השתתפותך')" onclick="document.body.style.cursor = 'wait';" class="button-71
"></div>

</form>
{% endif %}
</body>
</html>