<!DOCTYPE html>
<html lang="he" dir="rtl">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" type="text/css" href="{{url_for('static',filename='css/style.css')}}">

</head>
<script>
    document.body.style.cursor = 'default';

</script>
<h1 id="title">
    {{ title }}
</h1>
{% if image=='איטלקי' %}
<img src="{{ url_for('recommendation.static', filename='img/Vivino.png') }}">
{% endif %}
{% if image=='אסייתי' %}
<img src="{{ url_for('recommendation.static', filename='img/chooka.png') }}">
{% endif %}
{% if image=='בשרים' %}
<img src="{{ url_for('recommendation.static', filename='img/burgerim.png') }}">
{% endif %}
{% if image=='סלטים' %}
<img src="{{ url_for('recommendation.static', filename='img/cafeNimrod.png') }}">
{% endif %}
<br><br>
<button class="button-71" role="button"
        onclick="document.body.style.cursor = 'wait';window.location.href='{{ url_for('sheelon2.index') }}';">
    המשך
</button>
</html>