<!DOCTYPE html>
<html lang="he" dir="rtl">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" type="text/css" href="{{url_for('static',filename='css/style.css')}}">

</head>
<body>
<div id="mainContainer" class="main">
    <h2>הסכמה מודעת להשתתפות בניסוי</h2>
    <p>
        <span>הטקסט לאורך כל הניסוי כתוב בלשון זכר אך פונה לכל המגדרים.</span><br>
        <span>בבקשה קרא את דף הסבר זה באשר לניסוי.</span><br>
        <span>אנא וודא שהינך מבין היטב את שלבי המחקר.</span>
        <span>לאחר קריאת דף זה אנא מלא את לחצן ההסכמה להשתתף בניסוי.</span>
    </p>
    <h3>מטרה:</h3>
    <p>
        <span>אתה עומד להשתתף בניסוי דיגיטלי כחלק ממחקר קבלת החלטות.</span><br>
        <span>הניסוי מתבצע על ידי בר שליבקוביץ, יובל רון ושחר ששון בהנחייתם של פרופסור ליאור פינק והגברת נעמה אילני-צור מהמחלקה לתעשייה וניהול באוניברסיטת בן גוריון.</span><br>
    </p>
    <h3>מהלך הניסוי:</h3>
    <p>
        <span>במהלך הניסוי יוצגו בפניכם מספר דפי אינטרנט ותתבקשו לענות על מספר שאלות, כל השאלות הן בעלות חובת מענה.</span><br>
        <span>בשלב הראשון - יוצג שאלון היכרות בו תידרש לענות על מספר שאלות בנוגע להעדפותייך.</span><br>
        <span>בשלב השני- נציג בפנייך המלצה.</span><br>
        <span>בשלב השלישי- תתבקש לענות על מספר שאלות בהתייחס לשלב השני.</span><br>
        <span>בשלב הרביעי והאחרון- תתבקש לענות על שאלון סיכום קצר.</span><br>
        <span>אין הגבלת זמן להשלמת הניסוי, שאמור להימשך כ-15 דקות.</span><br>
    </p>
    <h3>הסכמה:</h3>
    <p>
        <span>הניסוי אושר על ידי ועדת האתיקה של אוניברסיטת בן-גוריון.</span>
    </p>
    <h3>חשאיות:</h3>
    <p>
        <span>סודיות לגבי זהותו של כל משתתף מובטחת. לא ניתן לחבר בין הפרטים האישיים של המשתתף לבין התשובות והנתונים שנמסרו במהלך הניסוי.</span>
    </p>
    <h3>תגמול:</h3>
    <p>
        <span>אתה יכול לבטל את השתתפותך בכל עת או לסרב לענות על כל שאלה; עם זאת, משתתפים שלא ישלימו את הניסוי במלואו לא יקבלו קרדיט על השתתפותם.</span>
    </p>

    <h1>משתתף יקר ! אם מכל סיבה שהיא אינך מרגיש בנוח אנא הפסק את השתתפותך ופנה לעורכי הניסוי</h1>
    <input type="checkbox" id="checkbox" name="vehicle1" value="Bike">
    <label for="checkbox"> אני מאשר בזאת שהבנתי את האמור לעיל ונותן את הסכמתי באופן חופשי להשתתף בניסוי זה. לְהַמשִׁיך.
    </label><br>
    <div class="bottomContainer">
        <div id="zurKesherContainer">
            <h4>יצירת קשר:</h4>
            <ul>
                <li>shasass@post.bgu.ac.il</li>
                <li>ronyuv@post.bgu.ac.il</li>
                <li>0546666326</li>
            </ul>
            <h5>בכל בעיה או שאלה ניתן לפנות</h5>
        </div>
        <div style="padding: 65px;">
            <button disabled class="btn" id="submitInstruction" onclick="window.location.href='{{ url_for('sheelon.index') }}';">
                המשך
            </button>
        </div>
    </div>
</div>

<script src="{{ url_for('start.static', filename='js/start.js') }}"></script>

</body>
</html>