<!DOCTYPE html>
<html lang="he" dir="rtl">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" type="text/css" href="../../../static/css/style.css">

</head>
<script>
    document.body.style.cursor = 'default';
</script>
<body>
<div id="mainContainer" class="main">

    <h2>טופס הסכמה מדעת להשתתפות בניסוי</h2>
    <p>
        <span>הטקסט לאורך כל הטופס כתוב בלשון זכר אך פונה לכל המגדרים.</span><br>
        <span>אנא קרא את הטופס במלואו.</span><br>
        <span>אנא וודא שהינך מבין היטב את שלבי המחקר.</span>
        <span>בתחתית הטופס תתבקש למסור הסכמתך להשתתפות בניסוי. הנך רשאי לסרב.</span>
    </p>
    <h3>מטרה:</h3>
    <p>
        <span>הנך עומד להשתתף בניסוי דיגיטלי כחלק ממחקר בנושא קבלת החלטות.</span><br>
        <span>הניסוי מתבצע על ידי צוות מחקר מהמחלקה לתעשייה וניהול באוניברסיטת בן גוריון.</span><br>
    </p>
    <h3>מהלך הניסוי:</h3>
    <p>
        <span>במהלך הניסוי יוצגו בפניכם מספר דפי אינטרנט ותתבקשו לענות על מספר שאלות, כל השאלות הן בעלות חובת מענה.</span><br>
        <span>אין הגבלת זמן להשלמת הניסוי, שאמור להימשך כ-15 דקות.</span><br>
    </p>
    <h3>הסכמה:</h3>
    <p>
        <span>הניסוי אושר על ידי ועדת האתיקה של אוניברסיטת בן-גוריון.</span>
    </p>
    <h3>חשאיות:</h3>
    <p>
        <span>סודיות לגבי זהותו של כל משתתף מובטחת.</span>
        <span>לא ניתן לחבר בין הפרטים האישיים של המשתתף לבין התשובות והנתונים שנמסרו במהלך הניסוי.</span>
        <span>כל המידע שנאסף בניסוי נשמר ומנותח בצורה אנונימית לחלוטין.</span>
    </p>
    <h3>תגמול:</h3>
    <p>
        <span>משתתף שישלים את הניסוי יתוגמל בנקודת בונוס לציון הסופי בקורס "בסיסי נתונים" או "BI".</span>
        <span>ניתן לבטל ההשתתפות בכל עת או לסרב לענות על כל שאלה. עם זאת, משתתפים שלא ישלימו את הניסוי במלואו לא יתוגמלו על השתתפותם.</span>
    </p>

    <h1>אם מכל סיבה שהיא אינך מעוניין להשתתף בניסוי, אנא הפסק את השתתפותך ופנה לעורכי הניסוי</h1>
    <input type="checkbox" id="checkbox" name="vehicle1" value="Bike">
    <label for="checkbox">אני מאשר בזאת שהבנתי את האמור לעיל, ונותן את הסכמתי החופשית להשתתף בניסוי זה. להמשיך.
    </label><br>
    <div class="bottomContainer">
        <div id="zurKesherContainer">
            <h4>ליצירת קשר:</h4>
            <span>experimentbgu@gmail.com</span>
        </div>
        <div style="padding: 65px;
    text-align: center;">
            <button disabled class="button-71" id="submitInstruction" onclick="document.body.style.cursor = 'wait';window.location.href='{{ url_for('sheelon.index') }}';">
                המשך
            </button>
        </div>
    </div>
</div>

<script src="{{ url_for('start.static', filename='js/start.js') }}"></script>

</body>
</html>