<!DOCTYPE html>
<html lang="he" dir="rtl">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="style.css">

</head>
<body>
<div id="mainContainer" class="main">
    <h2>נבדק יקר,</h2>
    <p>
        <span>בבקשה קרא את דף הסבר זה באשר לניסוי.</span><br>
        <span>אנא וודא שהינך מבין היטב את שלבי המחקר.</span><br>
        <span>לאחר קריאת דף זה אנא מלא את טופס ההסכמה להשתתף בניסוי</span>
    </p>
    <h3>מטרה:</h3>
    <p>
        <span>נבחרת להשתתף במחקר בנושא מערכות המלצה שיבדוק את התנהגות המשתמשים במערכות המלצה מבוססות בינה מלאכותית.</span><br>
        <span>הניסוי מתבצע על ידי בר שליבקוביץ, יובל רון ושחר ששון בהנחייתם של פרופסור ליאור פינק והגברת נעמה אילני-צור מהמחלקה לתעשייה וניהול באוניברסיטת בן גוריון.</span><br>
        <span>ההשתתפות במחקר הינה בהתנדבות.</span><br>
    </p>
    <h3>מהלך הניסוי:</h3>
    <p>
        <span>הניסוי יכלול 3 שלבים ומשכו יהיה כ 15 דקות.</span><br>
        <span>בשלב הראשון - יוצג שאלון היכרות בו תידרש לענות על מספר שאלות בנוגע להעדפותייך.</span><br>
        <span>בשלב השני- נציג בפנייך המלצה</span><br>
        <span>בשלב האחרון- תתבקש לענות על מספר שאלות בהתייחס לשלב השני</span><br>
    </p>
    <h3>הסכמה:</h3>
    <p>
        <span>הניסוי אושר על ידי הוועדה האתית של אוניברסיטת בן גוריון.</span>
    </p>
    <h3>חשאיות:</h3>
    <p>
        <span>כל הפרטים שתמסור במהלך הניסוי יישמרו אצלנו במערכת ולא יימסרו לשום גורם אחר</span>
    </p>
    <h3>תגמול:</h3>
    <p>
        <span>השתתפות בניסוי באופן מלא תזכה אותך בנקודת בונוס בקורס X</span>
    </p>

    <h1>משתתף יקר ! אם מכל סיבה שהיא אינך מרגיש בנוח אנא הפסק את השתתפותך ופנה לעורכי הניסוי</h1>
    <input type="checkbox" id="checkbox" name="vehicle1" value="Bike">
    <label for="checkbox"> סימון תיבה זו מהווה הסכמה כי קראת את התנאים והבנת אותם.
        בנוסף, סימון התיבה מהווה אישור להשתתפותך בניסוי
    </label><br>
    <div class="bottomContainer">
        <div id="zurKesherContainer">
            <h4>יצירת קשר:</h4>
            <ul>
                <li>shasass@post.bgu.ac.il</li>
                <li>ronyuv@post.bgu.ac.il</li>
                <li>0546666326</li>
            </ul>
            <h5>בכל בעיה או שאלה ניתן לפנות</h5>
        </div>
        <div style="padding: 65px;">
            <button disabled class="btn" id="submitInstruction">המשך</button>
        </div>
    </div>
</div>


<div id="secondContainer" class="main displayNone">
    <h2>משתתף יקר,</h2>
    <p>
        <span>כיום ישנם מספר מתחמי הסעדה באוניברסיטה הפתוחים לסטודנטים ולסגל.</span><br>
        <span>כחלק משיפור שירותי ההסעדה אנו בוחנים בקרב קהל הסטודנטים של אוניברסיטת בן גוריון את האפשרות להקמת <strong>שירות משלוחים מרוכז ממסעדות בעיר באר שבע היישר לתוך האוניברסיטה.</strong></span><br>
        <span>מטרת הפרויקט שלנו היא שמהמנות שתזמין יגיעו עד אלייך לכיתה על מנת להקל על ההזמנה.</span>
        <span>לשם כך נשמח אם תענה על שאלון העדפות קצר על מנת לעזור לנו להמליץ לך על המסעדה המתאימה ביותר.</span>
    </p>

    <h1>שאלון היכרות</h1>

    <p class="question">כמה פעמים אתה מגיע לאוניברסיטה במהלך השבוע?</p>
    <input id="q1.1" type="radio" value="q1.1" name="quest1">
    <label for="q1.1">1</label><br>
    <input id="q1.2" type="radio" value="q1.2" name="quest1">
    <label for="q1.2">2-3</label><br>
    <input id="q1.3" type="radio" value="q1.3" name="quest1">
    <label for="q1.3">4 ומעלה</label>

    <p class="question">מה הרגלי האכילה שלך במהלך היום באוניברסיטה?</p>
    <input id="q2.1" type="radio" value="q2.1" name="quest2">
    <label for="q2.1">קפה</label><br>
    <input id="q2.2" type="radio" value="q2.2" name="quest2">
    <label for="q2.2">סנדוויץ</label><br>
    <input id="q2.3" type="radio" value="q2.3" name="quest2">
    <label for="q2.3">ארוחת צהריים כבדה</label><br>
    <input id="q2.4" type="radio" value="q2.4" name="quest2">
    <label for="q2.4">פרי</label><br>

    <p class="question">מתי אתה בדרך כלל אוכל באוניברסיטה? ניתן לסמן יותר מתשובה אחת</p>
    <input id="q3.1" type="checkbox" value="q3.1" name="quest3">
    <label for="q3.1">8:00-10:00</label><br>
    <input id="q3.2" type="checkbox" value="q3.2" name="quest3">
    <label for="q3.2">10:00-12:00</label><br>
    <input id="q3.3" type="checkbox" value="q3.3" name="quest3">
    <label for="q3.3">12:00-14:00</label><br>
    <input id="q3.4" type="checkbox" value="q3.4" name="quest3">
    <label for="q3.4">14:00-16:00</label><br>
    <input id="q3.5" type="checkbox" value="q3.5" name="quest3">
    <label for="q3.5">16:00 ואלך</label><br>

    <p  class="question">האם אתה אוכל כשר?</p>
    <input id="q4.1" type="radio" value="q4.1" name="quest4">
    <label for="q4.1">כן</label>
    <input id="q4.2" type="radio" value="q4.2" name="quest4">
    <label for="q4.2">לא</label><br>

 
    <p class="question">איך אתה מגדיר עצמך מבחינת העדפות אוכל?</p>
    <input id="q5.1" type="radio" value="q5.1" name="quest5">
    <label for="q5.1">אוכל כל</label><br>
    <input id="q5.2" type="radio" value="q5.2" name="quest5">
    <label for="q5.2">צמחוני</label><br>
    <input id="q5.3" type="radio" value="q5.3" name="quest5">
    <label for="q5.3">טבעוני</label><br>
    <input id="q5.4" type="radio" value="q5.4" name="quest5">
    <label for="q5.4">צליאקי</label><br>
    <input id="q5.5" type="radio" value="q5.5" name="quest5">
    <label for="q5.5">קתוגי</label><br>
    <input id="q5.6" type="radio" value="q5.6" name="quest5">
    <label for="q5.6">אחר</label><br>

    <p class="question">באיזה אחד ממתחמי האוכל באוניברסיטה אתה מעדיף לצרוך אוכל או שתייה?</p>
    <input id="q6.1" type="radio" value="q6.1" name="quest6">
    <label for="q6.1">קרנף</label><br>
    <input id="q6.2" type="radio" value="q6.2" name="quest6">
    <label for="q6.2">אלבי</label><br>
    <input id="q6.3" type="radio" value="q6.3" name="quest6">
    <label for="q6.3">ארומה</label><br>
    <input id="q6.4" type="radio" value="q6.4" name="quest6">
    <label for="q6.4">כפיות</label><br>

    <p class="question"> מה סגנון האוכל האהוב עלייך?</p>
    <input id="q7.1" type="radio" value="q7.1" name="quest7">
    <label for="q7.1">איטלקי</label><br>
    <input id="q7.2" type="radio" value="q7.2" name="quest7">
    <label for="q7.2">אסייתי</label><br>
    <input id="q7.3" type="radio" value="q7.3" name="quest7">
    <label for="q7.3">בשרים</label><br>
    <input id="q7.4" type="radio" value="q7.4" name="quest7">
    <label for="q7.4">סלטים</label><br>
    <p id=q8 class="question">האם אתה רגיש לסוג אוכל מסוים</p>
    <input type="text" placeholder="בוטנים, גלוטן וכו'">
    <br>
    <button onclick="sendForm()" class="btn" id="submitForm">שלח</button>

</div>

<div id="thirdContainer" class="main displayNone">
    <h1 id="title"></h1>
    <img src="LOGO-LALUSH1.png" alt="Girl in a jacket" width="500" height="600" id="img">
</div>

<script>

    function checkValiditiOfQuestion(input){
        var validQuest=false;
        const questAns=document.querySelectorAll(input)
        for (const option of questAns){
            if (option.checked){
                validQuest=true;
                break;
            }   
        }
        return validQuest   

    }

    function randTitle(){
        var titelOptions=["המסעדה המתאימה ביותר עבורך היא","המסעדה הפופולארית ביותר במערכת היא","המסעדה האהובה על משתמשים דומים לך היא"];
        return titelOptions[Math.floor(Math.random* titelOptions.length)];
    }

    function chooseImg(){
        const questAns=document.querySelectorAll('input[name="quest7"]')
        for (const foodType of questAns){
            if (foodType.checked){
                if(foodType=='איטלקי'){
                return 'VIVINO.png'
                }
                if(foodType=='אסייתי'){
                    return 'KAMPAI.png'
                }
                if(foodType=='בשרים'){
                    return 'BBB.png'
                }
                if(foodType=='סלטים'){
                    return 'LALUSH.png'
                }  
            }
        }
    }

    function sendForm() {
        var validForm=true;
        var inputList= ['input[name="quest1"]','input[name="quest2"]','input[name="quest3"]','input[name="quest4"]','input[name="quest5"]','input[name="quest6"]','input[name="quest7"]'];
        for(const inputQuest of inputList){
            validForm=validForm & checkValiditiOfQuestion(inputQuest);
            if (validForm==false){
                window.alert('שים לב כי עלייך לענות על כל השאלות')
                break;
            }
        }

        //for each quest insert to db
        document.getElementById("title").innerText=randTitle()
        document.getElementById("img").src=chooseImg()

        
    }

    const cb = document.getElementById("checkbox");
    const instructionBtn = document.getElementById("submitInstruction");
    

    cb.addEventListener('change', () => {
        if (cb.checked) {
            instructionBtn.disabled = false;
        } else {
            instructionBtn.disabled = true;
        }
       
    });

    instructionBtn.addEventListener('click', () => {
        document.getElementById("mainContainer").classList.add('displayNone');
        document.getElementById("secondContainer").classList.remove('displayNone');
    })

    const formBtn = document.getElementById("submitForm");
    formBtn.addEventListener('click', () => {
    document.getElementById("secondContainer").classList.add('displayNone');
    document.getElementById("thirdContainer").classList.remove('displayNone');
    })
        


</script>

</body>
</html>