<!DOCTYPE html>
<html lang="he" dir="rtl">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" type="text/css" href="../../../static/css/style.css">

</head>
<script>
    document.body.style.cursor = 'default';
</script>
<body>
<div id="mainContainer" class="main">

    {% if error_msg %}
    <h4 style="color: red;">{{error_msg}}</h4>
    {% endif %}
    <br>
    <form id="form-home" method="POST" action="/home_validate">
        <label for="code">אנא הכנס קוד:</label>
        <br>
        <input type="text" id="code" name="code" required><br><br>
        <br>
        <input type="submit" class="button-71" value="שלח" onclick="document.body.style.cursor = 'wait';">
    </form>
</div>
</body>
</html>